<!-- inherit from base.html-->
{% extends "book_app/base_template.html" %}


<!-- Replace block content in base_template.html -->
<!-- Note: This is what the home page will look like -->
{% block content %}
<h1>The Scholar Ship Collections</h1>

<h2>List of Available Catalogs </h2>
<ul class ="list group">
    {% for i in book_catalogs %}
    <li class="list-group-item">Title: {{i.genre}}
    <p><strong>Catalog:{{ i.catalog.genre }}
    <a class="btn btn-primary" href="{{ i.catalog.get_absolute_url }}" role="button">View</a>
    </li>
    {% endfor %}
</ul>
