{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>The Scholar Ship</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">The Scholar Ship</a>
        <img src="{% static 'images/uccs_logo.gif' %}">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'user_page' %}">Home</a>
                </li>
                {% else %}
                    <li class = "nav-item active">
                        <a class ="nav-link" href="{% url 'index' %}"> Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalogs' %}">Catalogs</a>
                    </li>
                {% endif %}
            </ul>

            <!-- Add login/logout button and user's name -->
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <span class="navbar-text">Welcome,{{user.username}}!</span>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- add block content from html template -->
    {% block content %}
    {% endblock %}
</body>
</html>