{% extends 'book_app/base_template.html' %}
{% load static %}

{% block content %}
  <div style="background-color: #474621; padding: 20px;">
    <h1 style="color: #f5bc2b;">The Scholar Ship Collections</h1>

    <h2 style="color: #f5bc2b;">Books In Progress</h2>
    <ul class="list-group">
      {% for book in active_books %}
      <li class="list-group-item" style="color: #333;"> Book Title: {{ book.title }}
        <a class="btn btn-primary" href="{{ book.get_absolute_url }}" role="button">View</a>
      </li>
      {% endfor %}
    </ul>

    <img src="{% static 'images/uccs_logo.gif' %}">
  </div>
{% endblock %}

